.judul{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding-top: 20px;
}

.background{
    background-color: rgb(250, 245, 233);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

.isi{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
}

.logo{
    size: 40cp;
}